:root {
    --font-primary: Comic Sans MS;
    --font-display: Comic Sans MS;
}

nav[aria-label="Servers sidebar"] {
    width: 12px;
    transition: all 500ms ease-in;
}
nav[aria-label="Servers sidebar"]:hover {
    width: 70px;
}

div.sidebar-1tnWFu {
    width: 15px;
    transition: all 500ms ease-in;
}
div.sidebar-1tnWFu:hover {
    width: 250px;
    pointer-events: auto;
}

div.sidebar-1tnWFu :is(section[class^=panels], div[class^=container]) {
    opacity: 0% !important;
    transition: all 500ms -200ms ease-in;
    pointer-events: none;
}

div.sidebar-1tnWFu:hover :is(section[class^=panels], div[class^=container]) {
    opacity: 100% !important;
    transition: all 500ms 200ms ease-in;
    pointer-events: auto !important;
}

div.container-2o3qEW {
    width: 15px;
    transition: all 500ms ease-in;
}
div.container-2o3qEW:hover {
    width: 250px;
}

rect[id$=-lower_badge_masks] {
    display: none !important;
}

div[class^=lowerBadge] {
    transform: translate(-37px, -12px) !important;
    border-width: 4px !important;
    border: solid var(--background-tertiary);
    border-radius: 50% !important;
    background-color: var(--background-tertiary);
}
